* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background: url('./about-4.png') no-repeat;
    
}

h1 {
    color: black;
    font-size: 45px;
}
.Registration-Page {
    color: black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.Registration-Page h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.Registration-Page input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 20;
    border-radius: 5px;
    outline: blue;

}
